.gallery {
    display: flex;
    flex-wrap: wrap;
}

    .gallery::after {
        flex-grow: 999999999;
    }

    .gallery div {
        flex-grow: 1;
        margin: 5px;
        background-color: violet;
        height: 200px;
    }

    .gallery img {
        height: 200px;
        object-fit: cover;
        max-width: 100%;
        min-width: 100%;
        vertical-align: bottom;
    }


#close-button {
    margin-top: 50px;
}
