@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome YuanHai Blog 111</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <ul>
        @foreach (var item in Model.ArticleModels)
        {
            <li>
                <h3>@item.Title</h3>
                <p>@item.Content</p>
            </li>
        }
    </ul>
</div>
