<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 赵辕海的博客</title>
    <environment include="Development">
        <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="~/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="~/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Css", false)
</head>
<body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a asp-page="/index">赵辕海</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a asp-page="/Index">主页</a></li>
                                <li><a asp-page="/Photo">照片</a></li>
                                <li><a asp-page="/Journal">日志</a></li>
                                <li><a asp-page="/Project">项目</a></li>
                                <li><a href="#">登陆</a></li>
                                <li><a href="#">登出</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            @*<ul class="icons">
                <li><a href="javascript:void(0)" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="javascript:void(0)" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="javascript:void(0)" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="javascript:void(0)" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="javascript:void(0)" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>*@
            <ul class="copyright">
                <li>&copy; yuanhai</li>
                <li>
                    we personal blog site
                </li>
            </ul>
        </footer>

    </div>

    <environment include="Development">
        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
        <script src="/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
        <script src="/js/main.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
