@page
@model YuanHai.BlogUI.Pages.PhotoModel
@{
    ViewData["Title"] = "Photo";
}

@section Css{
    <link href="~/pages/photo.css" rel="stylesheet" />
}

@section Scripts{
    @Html.Partial("_baguetteBoxPartial")
    <script src="~/pages/photo.js"></script>
}

<section id="journal" class="gallery">
    <div>
        <a href="img/2-2.jpg" data-caption="标题">
            <img src="img/thumbs/2-2.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-3.jpg" data-caption="标题">
            <img src="img/thumbs/2-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-4.jpg" data-caption="标题">
            <img src="img/thumbs/2-4.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-1.jpg" data-caption="标题">
            <img src="img/thumbs/4-1.jpg" alt="First image">
        </a>
    </div>

    <div>
        <a href="img/4-2.jpg" data-caption="标题">
            <img src="img/thumbs/4-2.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-4.jpg" data-caption="标题">
            <img src="img/thumbs/4-4.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-2.jpg" data-caption="标题">
            <img src="img/thumbs/2-2.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-3.jpg" data-caption="标题">
            <img src="img/thumbs/2-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-4.jpg" data-caption="标题">
            <img src="img/thumbs/2-4.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-1.jpg" data-caption="标题">
            <img src="img/thumbs/4-1.jpg" alt="First image">
        </a>
    </div>

    <div>
        <a href="img/4-2.jpg" data-caption="标题">
            <img src="img/thumbs/4-2.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-4.jpg" data-caption="标题">
            <img src="img/thumbs/4-4.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-2.jpg" data-caption="标题">
            <img src="img/thumbs/2-2.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-3.jpg" data-caption="标题">
            <img src="img/thumbs/2-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-4.jpg" data-caption="标题">
            <img src="img/thumbs/2-4.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-1.jpg" data-caption="标题">
            <img src="img/thumbs/4-1.jpg" alt="First image">
        </a>
    </div>

    <div>
        <a href="img/4-2.jpg" data-caption="标题">
            <img src="img/thumbs/4-2.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-4.jpg" data-caption="标题">
            <img src="img/thumbs/4-4.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-2.jpg" data-caption="标题">
            <img src="img/thumbs/2-2.jpg" alt="First image">
        </a>
    </div>
    <div>
        <a href="img/2-3.jpg" data-caption="标题">
            <img src="img/thumbs/2-3.jpg" alt="First image">
        </a>
    </div>

    <div>
        <a href="img/4-3.jpg" data-caption="标题">
            <img src="img/thumbs/4-3.jpg" alt="First image">
        </a>
    </div>
</section>
